.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 245px;
}

.add-set-icon {
  cursor: pointer;
  margin-left: auto;
  font-size: 32px;
}