<div class="container">

  <mat-card-title>Enter Set Info</mat-card-title>

  <form [formGroup]='weightsForm'>
  
    <mat-form-field>
      <mat-label>Exercise Name</mat-label>
      <input 
        matInput
        autocomplete='auto_off'
        type="text"
        formControlName='name'
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Weight (lbs)</mat-label>
      <input 
        matInput
        autocomplete='auto_off'
        type="number"
        formControlName='weight'
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Reps</mat-label>
      <input 
        matInput
        autocomplete='auto_off'
        type="number"
        formControlName='reps'
      >
    </mat-form-field>

    <button mat-icon-button class='add-set-btn'>
      <mat-icon
        class='add-set-icon'
        matTooltip='Add Set'
        color='primary'
      >
        add_circle
      </mat-icon>
    </button>


  </form>

  <!-- <mat-icon>add_task</mat-icon> -->
</div>