<div class="container">
    <ng-container *ngIf="!startExercise; else selectExerciseType">
        <app-exercise-list></app-exercise-list>

        <mat-divider></mat-divider>

        <app-start-exercise
            (startExercise)="startExercise = !startExercise"
        ></app-start-exercise>
    </ng-container>

    <ng-template #selectExerciseType>
        <app-exercise-type-selection
            *ngIf='!selectedExerciseType; else exerciseFormContainer'
            (selectedExerciseType)='exerciseTypeSelection($event)'
        ></app-exercise-type-selection>
    </ng-template>

    <ng-template #exerciseFormContainer>
        <app-workout-tracker-form-container
            [exerciseSelectionType]='selectedExerciseType'
        ></app-workout-tracker-form-container>
    </ng-template>
</div>
